In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set working directory
import os
current_dir = os.getcwd()
os.chdir(current_dir.replace('\code', '\data'))

<>:9: SyntaxWarning: invalid escape sequence '\c'
<>:9: SyntaxWarning: invalid escape sequence '\d'
<>:9: SyntaxWarning: invalid escape sequence '\c'
<>:9: SyntaxWarning: invalid escape sequence '\d'
C:\Users\Jack\AppData\Local\Temp\ipykernel_15072\2141329615.py:9: SyntaxWarning: invalid escape sequence '\c'
  os.chdir(current_dir.replace('\code', '\data'))
C:\Users\Jack\AppData\Local\Temp\ipykernel_15072\2141329615.py:9: SyntaxWarning: invalid escape sequence '\d'
  os.chdir(current_dir.replace('\code', '\data'))

# Scraping

In [12]:
# Quaterback data
import requests
from lxml import html
import pandas as pd

def fetch_data(url_list):
    for url in url_list:
        # Send a GET request to fetch the webpage content
        response = requests.get(url)

        if response.status_code == 200:
            # Parse the HTML content
            tree = html.fromstring(response.content)

            # Scrape the list of columns
            columns = tree.xpath('//table[@id="passing"]//thead//th/text()')
            columns = [c.strip() for c in columns]

            # Remove the first column
            columns = columns[1:]
            
            # Scrape the list of rows
            rows = tree.xpath('//table[@id="passing"]//tbody//tr')
            data = []

            # Extract data from each row
            for row in rows:
                row_data = []
                for r in row.xpath('.//td'):
                    row_data.append(r.text_content().strip())
                # Ensure each row has the same number of columns as the header
                while len(row_data) < len(columns):
                    row_data.append(None)
                while len(row_data) > len(columns):
                    row_data.pop()
                data.append(row_data)  # Append the row data to the data list

            # Create a DataFrame
            df = pd.DataFrame(data, columns=columns)

            # Save the DataFrame to a CSV file without using any column as an index
            df.to_csv(f"{url_list[url]}_pfr_passing.csv", index=False)
        else:
            print(f"Failed to fetch the webpage. Status code: {response.status_code}")

# URL list
qb_list = {
    'https://www.pro-football-reference.com/years/2012/passing.htm': 2012, 
    'https://www.pro-football-reference.com/years/2013/passing.htm': 2013,
    'https://www.pro-football-reference.com/years/2014/passing.htm': 2014,
    'https://www.pro-football-reference.com/years/2015/passing.htm': 2015,
    'https://www.pro-football-reference.com/years/2016/passing.htm': 2016,
    'https://www.pro-football-reference.com/years/2017/passing.htm': 2017,
    'https://www.pro-football-reference.com/years/2018/passing.htm': 2018,
    'https://www.pro-football-reference.com/years/2019/passing.htm': 2019,
    'https://www.pro-football-reference.com/years/2020/passing.htm': 2020,
    'https://www.pro-football-reference.com/years/2021/passing.htm': 2021,
    'https://www.pro-football-reference.com/years/2022/passing.htm': 2022,
    'https://www.pro-football-reference.com/years/2023/passing.htm': 2023
}

fetch_data(qb_list)

In [13]:
pass_12 = pd.read_csv('2012_pfr_passing.csv')
pass_12.head()

,Player,Age,Team,Pos,G,GS,QBrec,Cmp,Att,Cmp%,...,Rate,QBR,Sk,Yds.1,Sk%,NY/A,ANY/A,4QC,GWD,Awards
0,Drew Brees,33.0,NOR,QB,16.0,16.0,7-9-0,422.0,670.0,63.0,...,96.3,68.7,26.0,190.0,3.74,7.17,7.17,1.0,2.0,PB
1,Matthew Stafford,24.0,DET,QB,16.0,16.0,4-12-0,435.0,727.0,59.8,...,79.8,56.1,29.0,212.0,3.84,6.29,5.81,3.0,3.0,NaN
2,Tony Romo,32.0,DAL,QB,16.0,16.0,8-8-0,425.0,648.0,65.6,...,90.5,65.4,36.0,263.0,5.26,6.78,6.35,5.0,5.0,NaN
3,Tom Brady,35.0,NWE,QB,16.0,16.0,12-4-0,401.0,637.0,63.0,...,98.7,76.1,27.0,182.0,4.07,7.00,7.48,1.0,2.0,"PB,AP OPoY-3"
4,Matt Ryan,27.0,ATL,QB,16.0,16.0,13-3-0,422.0,615.0,68.6,...,99.1,71.6,28.0,210.0,4.35,7.01,7.03,4.0,6.0,PB

In [7]:
# Receiving and Rushing data
import requests
from lxml import html
import pandas as pd

def fetch_data(url_list):
    for url in url_list:
        # Send a GET request to fetch the webpage content
        response = requests.get(url)

        if response.status_code == 200:
            # Parse the HTML content
            tree = html.fromstring(response.content)

            # Scrape the list of columns
            columns = tree.xpath('//table[@id="passing"]//thead//th/text()')
            columns = [c.strip() for c in columns]
            
            # Scrape the list of rows
            rows = tree.xpath('//table[@id="passing"]//tbody//tr')
            data = []

            # Extract data from each row
            for row in rows:
                row_data = []
                for r in row.xpath('.//td'):
                    row_data.append(r.text_content().strip())
                # Ensure each row has the same number of columns as the header
                while len(row_data) < len(columns):
                    row_data.append(None)
                while len(row_data) > len(columns):
                    row_data.pop()
                data.append(row_data)  # Append the row data to the data list

            # Create a DataFrame
            df = pd.DataFrame(data, columns=columns)

            # Save the DataFrame to a CSV file without using any column as an index
            df.to_csv(f"{url_list[url]}_pfr_passing.csv", index=False)
        else:
            print(f"Failed to fetch the webpage. Status code: {response.status_code}")

# URL list
rb_list = {
    'https://www.pro-football-reference.com/years/2012/rushing.htm': 2012,
    'https://www.pro-football-reference.com/years/2013/rushing.htm': 2013,
    'https://www.pro-football-reference.com/years/2014/rushing.htm': 2014,
    'https://www.pro-football-reference.com/years/2015/rushing.htm': 2015,
    'https://www.pro-football-reference.com/years/2016/rushing.htm': 2016,
    'https://www.pro-football-reference.com/years/2017/rushing.htm': 2017,
    'https://www.pro-football-reference.com/years/2018/rushing.htm': 2018,
    'https://www.pro-football-reference.com/years/2019/rushing.htm': 2019,
    'https://www.pro-football-reference.com/years/2020/rushing.htm': 2020,
    'https://www.pro-football-reference.com/years/2021/rushing.htm': 2021,
    'https://www.pro-football-reference.com/years/2022/rushing.htm': 2022,
    'https://www.pro-football-reference.com/years/2023/rushing.htm': 2023
}

# URL list
wr_list = {
    'https://www.pro-football-reference.com/years/2012/receiving.htm': 2012,
    'https://www.pro-football-reference.com/years/2013/receiving.htm': 2013,
    'https://www.pro-football-reference.com/years/2014/receiving.htm': 2014,
    'https://www.pro-football-reference.com/years/2015/receiving.htm': 2015,
    'https://www.pro-football-reference.com/years/2016/receiving.htm': 2016,
    'https://www.pro-football-reference.com/years/2017/receiving.htm': 2017,
    'https://www.pro-football-reference.com/years/2018/receiving.htm': 2018,
    'https://www.pro-football-reference.com/years/2019/receiving.htm': 2019,
    'https://www.pro-football-reference.com/years/2020/receiving.htm': 2020,
    'https://www.pro-football-reference.com/years/2021/receiving.htm': 2021,
    'https://www.pro-football-reference.com/years/2022/receiving.htm': 2022,
    'https://www.pro-football-reference.com/years/2023/receiving.htm': 2023
}

fetch_data(wr_list)

In [8]:
# Team Offense data
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from lxml import html
import pandas as pd

def fetch_data(url_list):
    # Set up Selenium WebDriver (make sure you have the appropriate driver installed)
    driver = webdriver.Chrome()  # or webdriver.Firefox(), etc.

    for url in url_list:
        
        # Navigate to the URL
        driver.get(url)

        # Wait for the table to load (you might need to adjust the wait time and condition)
        WebDriverWait(driver, 10).until(
            EC.presence_of_element_located((By.ID, "team_stats"))
        )

        # Get the page source and parse it
        html_content = driver.page_source
        tree = html.fromstring(html_content)

        # Scrape the list of columns
        columns = tree.xpath('//table[@id="team_stats"]//thead//th/text()')
        columns = [c.strip() for c in columns]

        # Remove the first five columns
        columns = columns[5:]
        
        # Scrape the list of rows
        rows = tree.xpath('//table[@id="team_stats"]//tbody//tr')
        data = []

        # Extract data from each row
        for row in rows:
            row_data = []
            for r in row.xpath('.//td'):
                row_data.append(r.text_content().strip())
            # Ensure each row has the same number of columns as the header
            while len(row_data) < len(columns):
                row_data.append(None)
            while len(row_data) > len(columns):
                row_data.pop()
            data.append(row_data)  # Append the row data to the data list

        # Create a DataFrame
        df = pd.DataFrame(data, columns=columns)

        # Save the DataFrame to a CSV file without using any column as an index
        df.to_csv(f"{url_list[url]}_pfr_team_stats.csv", index=False)

    # Close the driver
    driver.quit()

# URL list
team_list = {
    'https://www.pro-football-reference.com/years/2012/index.htm': 2012,
    'https://www.pro-football-reference.com/years/2013/index.htm': 2013,
    'https://www.pro-football-reference.com/years/2014/index.htm': 2014,
    'https://www.pro-football-reference.com/years/2015/index.htm': 2015,
    'https://www.pro-football-reference.com/years/2016/index.htm': 2016,
    'https://www.pro-football-reference.com/years/2017/index.htm': 2017,
    'https://www.pro-football-reference.com/years/2018/index.htm': 2018,
    'https://www.pro-football-reference.com/years/2019/index.htm': 2019,
    'https://www.pro-football-reference.com/years/2020/index.htm': 2020,
    'https://www.pro-football-reference.com/years/2021/index.htm': 2021,
    'https://www.pro-football-reference.com/years/2022/index.htm': 2022,
    'https://www.pro-football-reference.com/years/2023/index.htm': 2023
}

fetch_data(team_list)

In [9]:
# Combine data
import requests
from lxml import html
import pandas as pd

def fetch_data(url_list):
    for url in url_list: 
        response = requests.get(url)

        if response.status_code == 200:
            # Parse the HTML content
            tree = html.fromstring(response.content)

            # Correct table ID for the combine stats
            table_id = "combine"

            # Scrape the list of columns
            columns = tree.xpath(f'//table[@id="{table_id}"]//thead//tr/th/text()')
            columns = [c.strip() for c in columns]

            # Scrape the list of rows
            rows = tree.xpath(f'//table[@id="{table_id}"]//tbody//tr')
            data = []

            # Extract data from each row
            for row in rows:
                row_data = []
                for r in row.xpath('.//td | .//th'):
                    row_data.append(r.text_content().strip())
                # Ensure each row has the same number of columns as the header
                while len(row_data) < len(columns):
                    row_data.append(None)
                while len(row_data) > len(columns):
                    row_data.pop()
                data.append(row_data)  # Append the row data to the data list

            # Create a DataFrame
            df = pd.DataFrame(data, columns=columns)
            
            # Save the DataFrame to a CSV file without using any column as an index
            df.to_csv(f"{url_list[url]}_pfr_combine.csv", index=False)
        else:
            print(f"Failed to fetch the webpage. Status code: {response.status_code}")

# URL list
combine_list = {'https://www.pro-football-reference.com/draft/2000-combine.htm': 2000,
                'https://www.pro-football-reference.com/draft/2001-combine.htm': 2001,
                'https://www.pro-football-reference.com/draft/2002-combine.htm': 2002,
                'https://www.pro-football-reference.com/draft/2003-combine.htm': 2003,
                'https://www.pro-football-reference.com/draft/2004-combine.htm': 2004,
                'https://www.pro-football-reference.com/draft/2005-combine.htm': 2005,
                'https://www.pro-football-reference.com/draft/2006-combine.htm': 2006,
                'https://www.pro-football-reference.com/draft/2007-combine.htm': 2007,
                'https://www.pro-football-reference.com/draft/2008-combine.htm': 2008,
                'https://www.pro-football-reference.com/draft/2009-combine.htm': 2009,
                'https://www.pro-football-reference.com/draft/2010-combine.htm': 2010,
                'https://www.pro-football-reference.com/draft/2011-combine.htm': 2011,
                'https://www.pro-football-reference.com/draft/2012-combine.htm': 2012,
                'https://www.pro-football-reference.com/draft/2013-combine.htm': 2013,
                'https://www.pro-football-reference.com/draft/2014-combine.htm': 2014,
                'https://www.pro-football-reference.com/draft/2015-combine.htm': 2015,
                'https://www.pro-football-reference.com/draft/2016-combine.htm': 2016,
                'https://www.pro-football-reference.com/draft/2017-combine.htm': 2017,
                'https://www.pro-football-reference.com/draft/2018-combine.htm': 2018,
                'https://www.pro-football-reference.com/draft/2019-combine.htm': 2019,
                'https://www.pro-football-reference.com/draft/2020-combine.htm': 2020,
                'https://www.pro-football-reference.com/draft/2021-combine.htm': 2021,
                'https://www.pro-football-reference.com/draft/2022-combine.htm': 2022,
                'https://www.pro-football-reference.com/draft/2023-combine.htm': 2023
}

fetch_data(combine_list)

In [3]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

def scrape_table(url, output_csv='output.csv'):
    """
    Scrape the main table from the given URL and save it to a CSV file.

    Parameters:
    url (str): The URL of the webpage to scrape.
    output_csv (str): The name of the output CSV file. Default is 'output.csv'.

    Returns:
    pd.DataFrame: The scraped data as a pandas DataFrame.
    """
    # Step 1: Set up Selenium and open the webpage
    options = webdriver.ChromeOptions()
    options.add_argument('--headless')  # Run in headless mode
    driver = webdriver.Chrome(service=Service(ChromeDriverManager().install()), options=options)
    driver.get(url)

    # Step 2: Wait for the main table to be present
    wait = WebDriverWait(driver, 10)
    table = wait.until(EC.presence_of_element_located((By.TAG_NAME, 'table')))

    # Step 3: Extract the table headers
    headers = [header.text.strip() for header in table.find_elements(By.TAG_NAME, 'th')]

    # Step 4: Extract the table rows
    rows = []
    for row in table.find_elements(By.TAG_NAME, 'tr')[1:]:  # Skip the header row
        cells = row.find_elements(By.TAG_NAME, 'td')
        row_data = [cell.text.strip() for cell in cells]
        rows.append(row_data)

    # Step 5: Create a DataFrame
    df = pd.DataFrame(rows, columns=headers)

    # Step 6: Optionally, save the DataFrame to a CSV file
    df.to_csv(output_csv, index=False)

    # Close the browser
    driver.quit()

    return df

# Example usage
scrape_table(url="https://overthecap.com/contract-history/tight-end", output_csv='tight_end_contracts.csv')
scrape_table(url="https://overthecap.com/contract-history/wide-receiver", output_csv='wide_receiver_contracts.csv')
scrape_table(url="https://overthecap.com/contract-history/running-back", output_csv='running_back_contracts.csv')
scrape_table(url="https://overthecap.com/contract-history/quarterback", output_csv='quarterback_contracts.csv')

,Player,Team,Year\nSigned,Years,,Value,APY,Guaranteed,,APY as % Of\nCap At Signing,,Inflated\nValue,Inflated\nAPY,Inflated\nGuaranteed
0,Joe Burrow,Bengals,2023,5,,"$275,000,000","$55,000,000","$219,010,000",,24.5%,,"$312,433,274","$62,486,655","$248,821,859"
1,Aaron Rodgers,GB/NYJ,2022,5,,"$150,815,000","$50,271,667","$150,665,000",,24.1%,,"$185,005,528","$61,668,510","$184,821,523"
2,Josh Allen,Bills,2021,6,,"$258,000,000","$43,000,000","$150,000,000",,23.6%,,"$361,058,630","$60,176,438","$209,917,808"
3,Russell Wilson,Broncos,2022,5,,"$245,000,000","$49,000,000","$165,000,000",,23.5%,,"$300,542,747","$60,108,549","$202,406,340"
4,Dak Prescott,Cowboys,2024,4,,"$240,000,000","$60,000,000","$231,000,000",,23.5%,,"$240,000,000","$60,000,000","$231,000,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1831,Steve Young,49ers,1991,2,,"$4,480,000","$2,240,000",$0,,0.0%,,$0,$0,$0
1832,Brady Quinn,Rams,0,1,,"$855,000","$855,000",$0,,0.0%,,$0,$0,$0
1833,Jon Kitna,Cowboys,0,1,,"$940,000","$940,000",$0,,0.0%,,$0,$0,$0
1834,Connor Halliday,Commanders,0,3,,"$1,582,500","$527,500",$0,,0.0%,,$0,$0,$0
1835,Jerry Lovelocke,Ravens,0,3,,"$1,580,000","$526,667",$0,,0.0%,,$0,$0,$0

# Data Cleaning

In [2]:
# Quarterback cleaning
passes = {}
for year in range(2012, 2024):
    passes[year] = pd.read_csv(f'{year}_pfr_passing.csv')

# Cleaning
for year in range(2012, 2024):
    # Change 'Team' to 'Tm'
    passes[year] = passes[year].rename(columns={'Team': 'Tm'})
    # Change Yds.1 to Rush_Yds
    passes[year] = passes[year].rename(columns={'Yds.1': 'Sack_Yds'})
    # Split QBrec into Wins and Losses and ties
    passes[year][['Wins', 'Losses', 'Ties']] = passes[year]['QBrec'].str.split('-', expand=True)
    passes[year] = passes[year].drop(columns=['QBrec', 'Losses', 'Ties'])
    # Fill NaN values in Awards column with an empty string
    passes[year]['Awards'] = passes[year]['Awards'].fillna('')
    # New Column ProBowl which is 1 if 'PB' is in Awards column
    passes[year]['ProBowl'] = passes[year]['Awards'].str.contains('PB').astype(int)
    # New Column AllPro which is 1 if 'AP' is in Awards column
    passes[year]['AllPro'] = passes[year]['Awards'].str.contains('AP').astype(int)
    # New column MVP which is 1 if 'MVP' is in Awards column
    passes[year]['MVP'] = passes[year]['Awards'].str.contains('MVP').astype(int)
    # Drop Awards
    passes[year] = passes[year].drop(columns=['Awards'])
    # New column Passing_Points which is Yds*0.04 + TD*4 - Int*2
    passes[year]['Passing_Points'] = passes[year]['Yds'].astype(float)*0.04 + passes[year]['TD'].astype(float)*4 - passes[year]['Int'].astype(float)*2
    # New column Year
    passes[year]['Year'] = year

# Output
print(passes[2012].head(1))
print(passes[2012].columns)

       Player   Age   Tm Pos     G    GS    Cmp    Att  Cmp%     Yds  ...  \
0  Drew Brees  33.0  NOR  QB  16.0  16.0  422.0  670.0  63.0  5177.0  ...

   NY/A  ANY/A  4QC  GWD  Wins  ProBowl  AllPro  MVP  Passing_Points  Year
0  7.17   7.17  1.0  2.0     7        1       0    0          341.08  2012

[1 rows x 36 columns]
Index(['Player', 'Age', 'Tm', 'Pos', 'G', 'GS', 'Cmp', 'Att', 'Cmp%', 'Yds',
       'TD', 'TD%', 'Int', 'Int%', '1D', 'Succ%', 'Lng', 'Y/A', 'AY/A', 'Y/C',
       'Y/G', 'Rate', 'QBR', 'Sk', 'Sack_Yds', 'Sk%', 'NY/A', 'ANY/A', '4QC',
       'GWD', 'Wins', 'ProBowl', 'AllPro', 'MVP', 'Passing_Points', 'Year'],
      dtype='object')

In [5]:
# Receiving cleaning
recs = {}
for year in range(2012, 2024):
    recs[year] = pd.read_csv(f'{year}_pfr_receiving.csv')

# Cleaning
for year in range(2012, 2024):
    # Drop 'Rk' column
    recs[year].drop(columns=['Rk'], inplace=True)
    recs[year] = recs[year].drop(columns=['Player-additional'])
    # New column AllPro which is 1 if + is in Player column
    recs[year]['AllPro'] = recs[year]['Player'].str.contains('\+').astype(int)
    # New column ProBowl which is 1 if * is in Player column
    recs[year]['ProBowl'] = recs[year]['Player'].str.contains('\*').astype(int)
    # Remove + and * from Player column
    recs[year]['Player'] = recs[year]['Player'].str.replace('+', '')
    recs[year]['Player'] = recs[year]['Player'].str.replace('*', '')
    # Remove % from Ctch% column
    recs[year]['Ctch%'] = recs[year]['Ctch%'].str.replace('%', '')
    # New column Receiving_Points which is Rec*0.5 + Yds*0.1 + TD*6
    recs[year]['Receiving_Points'] = recs[year]['Rec'].astype(int)*0.5 + recs[year]['Yds'].astype(int)*0.1 + recs[year]['TD'].astype(int)*6
    # New column Year
    recs[year]['Year'] = year

# Output
print(recs[2012].head(1))
print(recs[2012].columns)

           Player   Tm  Age Pos   G  GS  Tgt  Rec Ctch%   Yds  ...  Succ%  \
0  Calvin Johnson  DET   27  WR  16  16  204  122  59.8  1964  ...   55.4

   Lng  Y/Tgt  R/G    Y/G  Fmb  AllPro  ProBowl  Receiving_Points  Year
0   53    9.6  7.6  122.8    3       1        1             287.4  2012

[1 rows x 23 columns]
Index(['Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Tgt', 'Rec', 'Ctch%', 'Yds',
       'Y/R', 'TD', '1D', 'Succ%', 'Lng', 'Y/Tgt', 'R/G', 'Y/G', 'Fmb',
       'AllPro', 'ProBowl', 'Receiving_Points', 'Year'],
      dtype='object')

In [6]:
# Rushing cleaning
rushes = {}
for year in range(2012, 2024):
    rushes[year] = pd.read_csv(f'{year}_pfr_rushing.csv')

# Cleaning
for year in range(2012, 2024):
    # Drop 'Rk' column
    rushes[year].drop(columns=['Rk'], inplace=True)
    # Rename -9999 to Player-additional column
    rushes[year] = rushes[year].rename(columns={'-9999': 'Player-additional'})
    rushes[year] = rushes[year].drop(columns=['Player-additional'])
    # New column AllPro which is 1 if + is in Player column
    rushes[year]['AllPro'] = rushes[year]['Player'].str.contains('\+').astype(int)
    # New column ProBowl which is 1 if * is in Player column
    rushes[year]['ProBowl'] = rushes[year]['Player'].str.contains('\*').astype(int)
    # Remove + and * from Player column
    rushes[year]['Player'] = rushes[year]['Player'].str.replace('+', '')
    rushes[year]['Player'] = rushes[year]['Player'].str.replace('*', '')
    # New column Rushing_Points which is Yds*0.1 + TD*6 - Fmb*2
    rushes[year]['Rushing_Points'] = rushes[year]['Yds'].astype(int)*0.1 + rushes[year]['TD'].astype(int)*6 - rushes[year]['Fmb'].astype(int)*2
    # New column Year
    rushes[year]['Year'] = year

# Output   
print(rushes[2012].head(1))
print(rushes[2012].columns)

         Player   Tm  Age Pos   G  GS  Att   Yds  TD  1D  Lng  Y/A   Y/G  Fmb  \
0  Arian Foster  HOU   26  RB  16  16  351  1424  15  78   46  4.1  89.0    3

   AllPro  ProBowl  Rushing_Points  Year
0       0        1           226.4  2012
Index(['Player', 'Tm', 'Age', 'Pos', 'G', 'GS', 'Att', 'Yds', 'TD', '1D',
       'Lng', 'Y/A', 'Y/G', 'Fmb', 'AllPro', 'ProBowl', 'Rushing_Points',
       'Year'],
      dtype='object')

In [7]:
# Dictionary for Team Names
team_names = {
    'Arizona Cardinals': 'ARI',
    'Atlanta Falcons': 'ATL',
    'Baltimore Ravens': 'BAL',
    'Buffalo Bills': 'BUF',
    'Carolina Panthers': 'CAR',
    'Chicago Bears': 'CHI',
    'Cincinnati Bengals': 'CIN',
    'Cleveland Browns': 'CLE',
    'Dallas Cowboys': 'DAL',
    'Denver Broncos': 'DEN',
    'Detroit Lions': 'DET',
    'Green Bay Packers': 'GNB',
    'Houston Texans': 'HOU',
    'Indianapolis Colts': 'IND',
    'Jacksonville Jaguars': 'JAX',
    'Kansas City Chiefs': 'KAN',
    'Las Vegas Raiders': 'LVR',
    'Los Angeles Chargers': 'LAC',
    'Los Angeles Rams': 'LAR',
    'Miami Dolphins': 'MIA',
    'Minnesota Vikings': 'MIN',
    'New England Patriots': 'NWE',
    'New Orleans Saints': 'NOR',
    'New York Giants': 'NYG',
    'New York Jets': 'NYJ',
    'Oakland Raiders': 'OAK',
    'Philadelphia Eagles': 'PHI',
    'Pittsburgh Steelers': 'PIT',
    'St. Louis Rams': 'STL',
    'San Francisco 49ers': 'SFO',
    'San Diego Chargers': 'SDG',
    'Seattle Seahawks': 'SEA',
    'Tampa Bay Buccaneers': 'TAM',
    'Tennessee Titans': 'TEN',
    'Washington Football Team': 'WAS',
    'Washington Redskins': 'WAS'
}

In [8]:
# Team Offense cleaning
teams = {}

for year in range(2012, 2024):
    teams[year] = pd.read_csv(f'{year}_pfr_team_stats.csv')

# Cleaning
for year in range(2012, 2024):
    # Rename 1stD.1 to 1stD_Pass
    teams[year] = teams[year].rename(columns={'Yds.1': 'Yds_Pass'})
    teams[year] = teams[year].rename(columns={'1stD.1': '1stD_Pass'})
    teams[year] = teams[year].rename(columns={'TD': 'TD_Pass'})
    teams[year] = teams[year].rename(columns={'Att': 'Att_Pass'})
    # Rename 1stD.2 to 1stD_Rush
    teams[year] = teams[year].rename(columns={'Att.1': 'Att_Rush'})
    teams[year] = teams[year].rename(columns={'Yds.2': 'Yds_Rush'})
    teams[year] = teams[year].rename(columns={'TD.1': 'TD_Rush'})
    teams[year] = teams[year].rename(columns={'1stD.2': '1stD_Rush'})
    teams[year] = teams[year].rename(columns={'Y/A': 'YdsPer_Rush'})
    # Rename Yds.3 to Yds_Pen
    teams[year] = teams[year].rename(columns={'Yds.3': 'Yds_Pen'})
    # Rename Tm to Team_Name
    teams[year] = teams[year].rename(columns={'Tm': 'Team_Name'})
    # New column that uses team_names dictionary to convert Team_Name to Tm
    teams[year]['Tm'] = teams[year]['Team_Name'].map(team_names)
    # New column Year
    teams[year]['Year'] = year

# Output
print(teams[2012].head(1))
print(teams[2012].columns)

              Team_Name   G   PF   Yds   Ply  Y/P  TO  FL  1stD  Cmp  ...  \
0  New England Patriots  16  557  6846  1191  5.7  16   7   444  402  ...

   YdsPer_Rush  1stD_Rush  Pen  Yds_Pen  1stPy   Sc%  TO%     EXP   Tm  Year
0          4.2        151   97      840     37  48.1  8.1  118.97  NWE  2012

[1 rows x 29 columns]
Index(['Team_Name', 'G', 'PF', 'Yds', 'Ply', 'Y/P', 'TO', 'FL', '1stD', 'Cmp',
       'Att_Pass', 'Yds_Pass', 'TD_Pass', 'Int', 'NY/A', '1stD_Pass',
       'Att_Rush', 'Yds_Rush', 'TD_Rush', 'YdsPer_Rush', '1stD_Rush', 'Pen',
       'Yds_Pen', '1stPy', 'Sc%', 'TO%', 'EXP', 'Tm', 'Year'],
      dtype='object')

In [3]:
# Combine cleaning
combines = {}
for year in range(2000, 2024):
    combines[year] = pd.read_csv(f'{year}_pfr_combine.csv')

# Cleaning
for year in range(2000, 2024):
    # Remove College column
    combines[year] = combines[year].drop(columns=['College'])
    # Split Ht into Feet and Inches at the dash
    combines[year][['Feet', 'Inches']] = combines[year]['Ht'].str.split('-', expand=True)
    # Replace None and nan with 0 in the Inches column
    combines[year]['Inches'] = combines[year]['Inches'].replace([None, np.nan], '0')
    combines[year]['Feet'] = combines[year]['Feet'].replace(['Ht', np.nan], '5')
    # Convert both columns to integers
    combines[year]['Feet'] = combines[year]['Feet'].astype(int)
    combines[year]['Inches'] = combines[year]['Inches'].astype(int)
    # New column Height which is the sum of Feet and Inches
    combines[year]['Height'] = combines[year]['Feet'].astype(int) * 12 + combines[year]['Inches'].astype(int)
    # Drop Ht, Feet, Inches
    combines[year] = combines[year].drop(columns=['Ht', 'Feet', 'Inches'])
    # Split Drafted (tm/rnd/yr) into Tm, Round, Pick, and Year
    combines[year][['Tm', 'Round', 'Pick', 'Year']] = combines[year]['Drafted (tm/rnd/yr)'].str.split('/', expand=True)
    combines[year] = combines[year].drop(columns=['Drafted (tm/rnd/yr)'])
    # Split pick into Pick and letters at the first letter
    combines[year][['Pick', 'Let', 'letter', 'extra', 'bub']] = combines[year]['Pick'].str.split('([A-Za-z]+)', expand=True)
    combines[year] = combines[year].drop(columns=['Let', 'letter', 'extra', 'bub'])
    # Rename Tm to Team_Name
    combines[year] = combines[year].rename(columns={'Tm': 'Team_Name'})
    # Strip whitespace from Team_Name
    combines[year]['Team_Name'] = combines[year]['Team_Name'].str.strip()
    # New column that uses team_names dictionary to convert Team_Name to Tm for non-empty values
    combines[year]['Tm'] = combines[year]['Team_Name'].map(team_names)
    # Convert  Wt  40yd Vertical Bench Broad Jump 3Cone Shuttle  Height to numeric
    combines[year]['Wt'] = pd.to_numeric(combines[year]['Wt'], errors='coerce')
    combines[year]['40yd'] = pd.to_numeric(combines[year]['40yd'], errors='coerce')
    combines[year]['Vertical'] = pd.to_numeric(combines[year]['Vertical'], errors='coerce')
    combines[year]['Bench'] = pd.to_numeric(combines[year]['Bench'], errors='coerce')
    combines[year]['Broad Jump'] = pd.to_numeric(combines[year]['Broad Jump'], errors='coerce')
    combines[year]['3Cone'] = pd.to_numeric(combines[year]['3Cone'], errors='coerce')
    combines[year]['Shuttle'] = pd.to_numeric(combines[year]['Shuttle'], errors='coerce')
    combines[year]['Height'] = pd.to_numeric(combines[year]['Height'], errors='coerce')

# Output
print(combines[2000].head(3))
print(combines[2000].columns)

NameError: name 'team_names' is not defined

In [46]:
# Salary cleaning
def salary_cleaning(df):
    # Rename columns
    df = df.rename(columns={'Year\nSigned': 'Year', 'Inflated\nGuaranteed': 'Inflated_Guaranteed', 
                                        'Years': 'Length'})
    df = df[['Player', 'Year', 'Length', 'Inflated_Guaranteed']]

    # Ensure columns are of string type before using str accessor
    df['Inflated_Guaranteed'] = df['Inflated_Guaranteed'].astype(str)

    # Remove characters
    df['Inflated_Guaranteed'] = df['Inflated_Guaranteed'].str.replace('$', '', regex=False)

    # Replace nan with 1
    df['Length'] = df['Length'].fillna(1)

    # Clean data types
    df['Inflated_Guaranteed'] = df['Inflated_Guaranteed'].str.replace(',', '')
    df['Inflated_Guaranteed'] = df['Inflated_Guaranteed'].astype(int)
    df['Year'] = df['Year'].astype(int)
    df['Length'] = df['Length'].astype(int)

    # Group by year, player, years, for inflated guaranteed
    df = df.groupby(['Player', 'Year', 'Length'])['Inflated_Guaranteed'].mean().reset_index()

    # New column: list of integers between year and year+length
    df['Contract_Years'] = df.apply(lambda x: list(range(x['Year'], x['Year'] + x['Length'])), axis=1)

    # Expand contract years to columns, value is inflated guaranteed
    df = df.explode('Contract_Years')
    df['Contract_Years'] = df['Contract_Years'].astype(int)

    # Sort by Player, Year, and Years in descending order
    df = df.sort_values(by=['Player', 'Year', 'Contract_Years'], ascending=[True, False, False])

    # Drop duplicates, keeping the first occurrence (which has the higher Year and Years)
    df = df.drop_duplicates(subset=['Player', 'Contract_Years'], keep='first')

    return df

# Clean salary data
qb_salary = salary_cleaning(pd.read_csv('quarterback_contracts.csv'))
rb_salary = salary_cleaning(pd.read_csv('running_back_contracts.csv'))
wr_salary = salary_cleaning(pd.read_csv('wide_receiver_contracts.csv'))
te_salary = salary_cleaning(pd.read_csv('tight_end_contracts.csv'))

In [47]:
qb_salary.head(20)

           Player  Year  Length  Inflated_Guaranteed  Contract_Years
5   A.J. McCarron  2023       1                  0.0            2023
4   A.J. McCarron  2021       1             192425.0            2021
3   A.J. McCarron  2020       1            4832240.0            2020
2   A.J. McCarron  2019       1            3392667.0            2019
1   A.J. McCarron  2018       2            8647856.0            2018
0   A.J. McCarron  2014       4             348826.0            2017
0   A.J. McCarron  2014       4             348826.0            2016
0   A.J. McCarron  2014       4             348826.0            2015
0   A.J. McCarron  2014       4             348826.0            2014
8    Aaron Murray  2017       1                  0.0            2017
7    Aaron Murray  2016       1                  0.0            2016
6    Aaron Murray  2014       4             350309.0            2015
6    Aaron Murray  2014       4             350309.0            2014
14  Aaron Rodgers  2023       3           85209075.0            2025
14  Aaron Rodgers  2023       3           85209075.0            2024
14  Aaron Rodgers  2023       3           85209075.0            2023
13  Aaron Rodgers  2022       5          184821523.0            2026
13  Aaron Rodgers  2022       5          184821523.0            2022
12  Aaron Rodgers  2018       4          141536569.0            2021
12  Aaron Rodgers  2018       4          141536569.0            2020

# Saving Data

In [13]:
# Combine passing data
qb_data = pd.concat(passes.values(), ignore_index=True)
# Combine receiving data
rec_data = pd.concat(recs.values(), ignore_index=True)
# Combine rushing data
rush_data = pd.concat(rushes.values(), ignore_index=True)
# Combine team offense data
team_data = pd.concat(teams.values(), ignore_index=True)
# Combine combine data
combine_data = pd.concat(combines.values(), ignore_index=True)
# Combine Salary data
salary_data = pd.concat([qb_salary, rb_salary, wr_salary, te_salary], ignore_index=True)

In [14]:
# Save qb_data
qb_data.to_csv('gross_pfr_passing.csv', index=False)
# Save rec_data
rec_data.to_csv('gross_pfr_receiving.csv', index=False)
# Save rush_data
rush_data.to_csv('gross_pfr_rushing.csv', index=False)
# Save team_data
team_data.to_csv('gross_pfr_team_offense.csv', index=False)
# Save combine_data
combine_data.to_csv('gross_pfr_combine.csv', index=False)
# Save salary data
salary_data.to_csv('gross_pfr_salary.csv', index=False)